@model ControleFinanceiro.ViewModels.MetaViewModel

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(Model => Model.Destino)</dt>
        <dd>@Html.DisplayFor(Model => Model.Destino)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.Porcentagem)</dt>
        <dd>@Html.DisplayFor(Model => Model.Porcentagem)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.TipoMeta)</dt>
        <dd>@Html.DisplayFor(Model => Model.TipoMeta)</dd>
    </dl>
</div>