@model ControleFinanceiro.ViewModels.LancamentoViewModel

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(Model => Model.Descricao)</dt>
        <dd>@Html.DisplayFor(Model => Model.Descricao)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.Valor)</dt>
        <dd>@Html.DisplayFor(Model => Model.Valor)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.Data)</dt>
        <dd>@Html.DisplayFor(Model => Model.Data)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.Categoria)</dt>
        <dd>@Html.DisplayFor(Model => Model.Categoria)</dd>

        <dt>@Html.DisplayNameFor(Model => Model.LancamentoMensal)</dt>
        <dd>@Html.DisplayFor(Model => Model.LancamentoMensal)</dd>
    </dl>
</div>